* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.dashboardWholeBody {
  background-color: #33cccc;
  min-height: 100vh;
}
.flashPage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.loginMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginLeftSection {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #33cccc;
  min-height: 100vh;
  padding: 50px;
}
.loginLeftSection > img,
.dashboardStaticSection img {
  width: 180px;
}
.loginRightSection {
  width: 75%;
  min-height: 100vh;
  background-color: #d0f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginCard {
  width: 50%;
  min-height: 65vh;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 30px 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.loginCard > h3 {
  color: #2e303d;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}
.loginForm > label {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  color: #2e303d;
  margin-bottom: 30px;
}
.loginInputDiv {
  border-bottom: 2px solid #d1d5dc;
  padding: 15px 0px;
  display: flex;
  align-items: center;
}
.loginInputDiv i {
  color: #33cccc;
}
.loginInputDiv input {
  border: none;
  font-size: 17px;
  width: 100%;
  margin-left: 15px;
  outline: none;
  color: #2e303d;
}
.loginInputDiv input::placeholder {
  color: #979797;
}
.loginShowPasswordDiv {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
.loginShowPasswordDiv > p {
  color: #81d9d9;
  font-size: 14px;
  cursor: pointer;
}
.loginCheckbox {
  width: 18px !important;
  height: 18px !important;
  margin-right: 5px;
}
.loginCheckBoxLabel > span {
  vertical-align: top;
}
.loginForm button {
  background-color: #33cccc;
  color: white;
  width: 100%;
  border-radius: 15px;
  border: none;
  padding: 16px;
  font-size: 18px;
}
.loginForm > div {
  text-align: center;
  margin-top: 20px;
}

.secondPageMainContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.dashboardStaticSection {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 25px;
  min-height: 100vh;
}
.dashboardAbsoluteSection {
  position: absolute;
  left: 23.54%;
  right: 1.46%;
  top: 2.22%;
  bottom: 2.22%;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 0px 40px 0px 40px;
  min-height: 96vh;
  overflow-y: auto;
}
.dashboardAbsoluteSection > header {
  position: sticky;
  top: 0;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 30px;
  z-index: 100;
}
.dashboardIconSection {
  width: 100%;
  padding: 0 0 0 20%;
}
.dashboardIconSection > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}
.dashboardIconSection img {
  width: 35px;
  height: 35px;
}
.dashboardIconSection p {
  color: white;
  margin-left: 20px;
  font-weight: 400;
  opacity: 80%;
}
.dashboardIconSection .activeLink {
  opacity: 1;
  font-weight: 600;
}
.dashboardNavSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 30px; */
}
.dashboardOfSubpage .dashboardNavSection {
  margin-bottom: 30px;
}
.dashboardNavSection h2 {
  color: #262a41;
  font-size: 34px;
}
.dashboardNavEndContainer {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboardNavEndContainer > div {
  margin-left: 20px;
  height: 25px;
  display: flex;
  align-items: center;
}
.dashboardNavSection > div {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.dashboardNavSection > div section {
  background-color: #f9fafc;
  width: 333px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #2732401a;
  padding: 15px;
  border-radius: 15px;
}
.dashboardNavSection > div form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dashboardNavSection input {
  width: 100%;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  color: #404852;
  outline: none;
}
.dashboardNavSection input::placeholder {
  color: #9da1a7;
}
.dashboardNavSection > div div {
  background-color: #f9fafc;
  margin-left: 26px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2732401a;
  border-radius: 15px;
  cursor: pointer;
}
.dashboardTitleSection {
  display: flex;
  align-items: center;
  background-color: #f9fafc;
  border: 1px solid #2732401a;
  border-radius: 15px;
  padding: 0 15px;
  height: 56px;
  position: sticky;
  top: 115px !important;
  z-index: 50;
}
.dashboardTitleSection > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboardTitleSection > div > img,
.dashboardTableContent1 img {
  width: 20px;
  height: 20px;
}
.dashboardTitleSection > div > p {
  font-size: 14px;
  color: #273240;
}
.dashboardTableContent1 {
  width: 100%;
}
.dashboardTableContent1 table {
  width: 100%;
}
.dashboardTableContent1 table tbody {
  width: 100%;
}
.dashboardTableContent1 tr {
  display: flex;
  border-bottom: 1px solid #2732401a;
}
.dashboardTableContent1 td {
  min-height: 56px;
  padding: 3px;
  display: flex;
  align-items: center;
}
.dashboardTableContent1 input[type="checkbox"] {
  display: none;
}
.dashboardTableContent1 p {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #273240;
}
.table1FirstColumn {
  width: 135px;
  padding-left: 15px !important;
}
.table1FirstColumn div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 25px;
}
.table1SecondColumn {
  width: 205px;
}
.dashboardTitleSection i[class~="fa-square"],
.dashboardTitleSection i[class~="fa-square-check"],
.table1FirstColumn i[class~="fa-square-check"],
.table1FirstColumn i[class~="fa-square"],
.table2FirstColumn i[class~="fa-square-check"],
.table2FirstColumn i[class~="fa-square"] {
  font-size: 20px;
  color: #979797;
}
.dashboardTitleSection i,
.table1FirstColumn i[class~="fa-star"] {
  font-size: 18px;
  color: #979797;
}
.dashboardTitleSection i[class~="fa-solid"],
.table1FirstColumn i[class~="fa-solid"],
.table2FirstColumn i[class~="fa-solid"] {
  color: #33cccc;
}
.table1SecondColumn img {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}
.table1ThirdColumn {
  width: 350px;
  padding-right: 25px !important;
}
.table1ForthColumn {
  width: 225px;
}
table1SixthColumn > p {
 padding-right: 200px;
}
.table1ForthColumn > div {
  position: relative;
  width: 120px;
  border-radius: 80px;
  padding: 6px 10px;
}
.table1ForthColumn p {
  text-align: center;
  font-size: 13px;
}
.redStatus {
  background-color: #feebeb;
}
.redStatusP {
  color: #f33130 !important;
}
.blackStatus {
  background-color: #e6e6e6;
}
.lightBlueStatus {
  background-color: #ebfafa;
}
.lightBlueStatusP {
  color: #33cccc !important;
}
.blueStatus {
  background-color: #ecf2fe;
  padding: 4px 10px !important;
}
.blueStatusP {
  color: #407ef6 !important;
}
.table1FifthColumn p {
  color: #404852;
  opacity: 0.5;
}
.bottomAbsoluteDiv {
  min-height: 25px;
  background-color: #ffffff;
  position: sticky;
  bottom: 0;
}

/* //// Patienten //// */

.table2 {
  width: 100%;
}
.table2 td {
  border: none;
}
.table2Header {
  background-color: #f9fafc;
  height: 56px;
  border: 1px solid #2732401a;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  /* position: sticky;
  top: 0 !important;
  z-index: 50; */
}
.table2 i {
  cursor: pointer;
}
.table2 div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.table2 p {
  width: 210px;
  justify-content: flex-start;
}
.table2FirstColumn div {
  width: 45px;
}
.table2SecondColumn img {
  margin-left: 5px;
}
.table2FifthColumn p {
  color: #404852;
  opacity: 0.5;
}
.tableSeparator {
  color: #273240;
  opacity: 0.2;
  font-weight: lighter;
}
.table2IconSect {
  width: 100%;
  justify-content: space-around;
  padding: 30px;
}
.table2IconSect div {
  margin: 0;
}
.table2Content {
  border-bottom: 1px solid #2732401a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 56px;
}
.hiddenElement {
  visibility: hidden;
}

/* //// Calendar //// */
.calenderDashboardForPadding {
  padding: 20px 40px;
}
.calenderDashboardHeader > .dashboardNavSection {
  margin-bottom: 5px;
}
.termineBtnDiv > div {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  width: 100px;
  border-radius: 30px;
  cursor: pointer;
}
.termineBtnDiv i {
  font-size: 20px;
  color: blue;
}
.termineBtnDiv p {
  font-size: 14px;
}
.calendarMonthTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}
.calendarMonthTitle p {
  font-size: 20px;
  color: #979797;
}
.calendarWholeContainer table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #9e9e9e;
}
.calendarWholeContainer p {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}
.calendarWholeContainer tr {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 1px solid #9e9e9e; */
  height: 100%;
  min-height: 10%;
}
.calendarWholeContainer td {
  /* width: 300px; */
  /* height: 105px; */
  width: 20%;
  border: 1px solid #9e9e9e;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}
/* .calenderFirstRow td {
   height: 120px;
} */
.calendarWholeContainer td section div {
  /* width: 100%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
}
.calendarWholeContainer td i {
  font-size: 8px;
  color: #33cccc;
  margin-right: 8px;
}
.calendarWholeContainer td span {
  margin-right: 15px;
}
.coloredCell {
  background-color: #dcf6f6;
}

@media only screen and (max-width: 1400px) {
  .calendarWholeContainer td section div {
    font-size: 12px;
  }
  .calendarWholeContainer td i {
    font-size: 7px;
  }
}

/* //// SubPages //// */

.dashboardOfSubpage {
  padding: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.dashboardMainLeftSide {
  width: 68%;
  background-color: #ffffff;
  padding: 40px 0;
  border-radius: 30px 0 0 30px;
}
.dashboardMainRightSide {
  width: 32%;
  background-color: #f9fafc;
  top: 0;
  bottom: 0;
  padding: 40px 0;
  border-radius: 0 30px 30px 0;
}
.dashboardMainLeftSide .dashboardNavSection {
  padding-right: 30px;
  padding-left: 40px;
}
.dashboardMainLeftSide .dashboardNavSection > div {
  margin: 0;
}
.table3 {
  padding-left: 40px;
  padding-right: 30px;
  width: 100%;
}
.table3 tr {
  width: 100%;
  border: none;
}
.table3Details tr {
  height: auto !important;
}
.table3Details td {
  height: auto !important;
}
.table3Header {
  position: relative;
  width: 100%;
}
.backpagePointer {
  position: absolute;
  left: -30px;
}
.table3Header i {
  color: #c4c4c4;
  font-size: 25px;
  cursor: pointer;
  /* padding: 0 25px; */
}
.table3Header p {
  margin-left: 25px;
  font-size: 18px;
  width: 300px;
}
.subpageNavEndContainer {
  justify-content: flex-end;
  height: 45px;
  padding: 0 50px;
}
.subpageHeaderHeadName {
  width: 80%;
  /* border-right: 1px solid #000000 !important; */
}
.tableSeparator2 {
  color: #000000;
  opacity: 2.5;
  font-weight: lighter;
}
.table3HeaderIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  padding: 0px 20px !important;
}
.table3HeaderIcons i {
  font-size: 18px;
  color: #33cccc;
}
.table3Content {
  padding: 5px 25px 0px;
  border-bottom: 1px solid #2732401a !important;
}
.table3Content .namePara {
  width: 160px;
  /* width: 25%; */
}
.table3Content .namePara img {
  margin-left: 5px;
}
.table3Content .datePara {
  width: 120px;
}
.table3Content .thirdPara {
  width: 220px;
}
.table3Content .lastPara {
  width: 140px;
  color: #404852;
  opacity: 0.5;
}
.table3BreakPoint {
  padding: 25px 0 0 0;
}
.table3Details {
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 25px 10px;
}
.table3Details td {
  height: 40px !important;
}
.table3Details p {
  width: 120px;
  height: auto;
}

.dashboardMainRightSide > main {
  padding: 35px 38px;
}
.dashboardMainRightSide > main > div {
  box-shadow: 2px 2px 34px rgba(0, 0, 0, 0.08);
  font-size: 14px;
  border-radius: 12px;
}
.dashboardMainRightSide .firstCard {
  background-color: white;
  padding: 10px 16px 2px;
  margin-bottom: 20px;
}
.dashboardMainRightSide .firstCard p {
  margin-bottom: 8px;
  line-height: 1.2rem;
}
.dashboardMainRightSide .firstCard .verificationPara {
  color: #33cccc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.dashboardMainRightSide .firstCard .verificationPara i {
  cursor: pointer;
}
.dashboardMainRightSide .firstCard .verificationPara i[class~="fa-regular"] {
  margin-left: 5px;
  color: #979797 !important;
}
.dashboardMainRightSide .firstCard .verificationPara i[class~="fa-solid"] {
  margin-left: 5px;
  color: #33cccc;
}
.dashboardMainRightSide > main div div i {
  position: absolute;
  right: 9px;
  top: 11px;
  color: #f33130;
  font-size: 9px;
}
.dashboardMainRightSide .secondCard {
  position: relative;
  background-color: #e3e4e5;
  padding: 16px;
  font-size: 16px;
  box-shadow: 2px 2px 34px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}
.dashboardMainRightSide .thirdCard {
  position: relative;
  padding: 16px;
  font-size: 16px;
  filter: drop-shadow(2px 2px 24px rgba(0, 0, 0, 0.08));
  background-color: #ffffff;
  margin-bottom: 20px;
}
.thirdCard2 {
  box-shadow: 2px 2px 34px rgba(0, 0, 0, 0.08);
}
.thirdCard3 {
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 2px 2px 34px rgba(0, 0, 0, 0.08);
  position: relative;
  font-size: 16px;
  padding: 16px;
}
.blueCard {
  color: #407ef6;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.dashboardMainRightSide > main div section i {
  position: absolute;
  left: 15px;
  vertical-align: middle;
}

/* ///// Styling Scrollbar ///// */

.dashboardAbsoluteSection::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  background-color: #f5f5f5;
}

.dashboardAbsoluteSection::-webkit-scrollbar {
  width: 8px;
  background-color: #33cccc;
}

.dashboardAbsoluteSection::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}